[project]
	description = Set up a ONOS SONA development environment with Packstack
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Pete Birley (intlabs)
[access "refs/for/refs/*"]
	read = group user/Pete Birley (intlabs)
	push = group user/Pete Birley (intlabs)
	label-Code-Review = -2..+2 group user/Pete Birley (intlabs)
	label-Verified = -1..+1 group user/Pete Birley (intlabs)
	rebase = group user/Pete Birley (intlabs)
	removeReviewer = group user/Pete Birley (intlabs)
	submit = group user/Pete Birley (intlabs)
[access "refs/heads/*"]
	read = group user/Pete Birley (intlabs)
	create = group user/Pete Birley (intlabs)
	push = +force group user/Pete Birley (intlabs)
	pushMerge = group user/Pete Birley (intlabs)
[access "refs/tags/*"]
	push = group user/Pete Birley (intlabs)
	push = +force group user/Pete Birley (intlabs)
